<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Placeholder Images!</title>
    <link rel="stylesheet" type="text/css" href="http://projects.mikewest.org/assets/builds/2010-10-03.css">
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-6166875-5']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <nav>
      <a href="http://projects.mikewest.org/" rel="home">projects<span><span>@</span>mikewest</span></a>
    </nav>
    <h1>Placeholder Images!</h1>
    <img src="/600x337/CCCCCC/333333/placeholder.png" width="600" height="337">

    <p>Generate your own, using the following URL formats:</p>
    <ul>
        <li><a href="/600x337/placeholder.png"><code>/[WIDTH]x[HEIGHT]/placeholder.png</code></a></li>
        <li><a href="/600x337/CCCCCC/333333/placeholder.png"><code>/[WIDTH]x[HEIGHT]/[FOREGROUND]/[BACKGROUND]/placeholder.png</code></a></li>
    </ul>
    <small class="license">&copy;2010 <a href="http://mikewest.org/">Mike West</a>: Site source is <a href="http://github.com/mikewest/flask-pyplaceholder/" rel="license">BSD licensed</a>, Images generated via <a href="http://projects.mikewest.org/pyplaceholder/">PyPlaceholder</a></small>
  </body>
</html>
